/* Existing styles here */
* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.menuContainer {
    width: 100%;
    max-width: 1920px;
    padding: 0 20px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 80px; /* 제목 크기 설정 */
    margin-bottom: 40px; /* 제목 아래 간격 설정 */
    
}

.container {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: transparent;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
}

header h1 {
    position: relative;
    height: 40px;
    margin: 0;
}

header h1 img {
    display: block;
    position: relative;
    top: 10px;
}

.main-navigation a {
    font-size: 16px;
    text-decoration: none;
    color: #B2B2B2;
    margin: 0 20px;
}

.main-navigation a:hover {
    color: #FFFFFF;
}

.btn {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #CA0000;
    text-align: center;
    width: 100px;
}

.text-wrap {
    width: 40%;
    margin-bottom: 10vh;
    z-index: 2; /* Adjusted z-index */
}

.text-wrap h2 {
    color: #fff;
    font-size: 64px;
    line-height: 1.25;
    font-weight: lighter;
    margin-bottom: 40px;
    padding-left: 50px;
}

.text-wrap h3 {
    color: #fff;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.text-wrap p {
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.hero-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #0E1926;
}

.hero-bg .container {
    height: 100%;
    display: flex;
    align-items: center; /* 추가: 수직 중앙 정렬 */
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrap video,
.video-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*원리페이지*/
.image-container {
    position: relative;
    width: 100%;
    height: 1100px; /* 화면 전체 높이 설정 */
    overflow: hidden;
}

.full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 화면에 꽉 채우기 */
    z-index: 1;
}

.text-overlay {
    position: absolute;
    top: 20%; /* 원하는 위치로 조정 가능 */
    left: 10%; /* 본문 텍스트 왼쪽 정렬 */
    width: 80%; /* 텍스트 영역 너비 */
    color: #fff;
    text-align: left;
    z-index: 2;
}

.title {
    position: absolute;
    top: 10%; /* 제목의 위치를 위쪽으로 조정 */
    left: 10%; /* 제목을 왼쪽으로 이동 */
    font-size: 80px; /* 제목 크기 */
}

.text-content {
    margin-top: 100px; /* '원리' 제목 아래에 본문 텍스트 배치 */
    width: 50%;
    margin-left: 50%; /* 오른쪽으로 이동 */
}

.text-content p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
    
    padding: 10px;
    border-radius: 5px;
}

/* CSS for custom mouse pointer */
#mouse-pointer {
    width: 20px;
    height: 20px;
    background-color: #CA0000;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s, background-color 0.1s;
    z-index: 1000;
}

#mouse-pointer.hover {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #CA0000;
}

@media screen and (max-width: 768px) {
    .text-wrap {
        padding: 120px 20px;
    }
}

@media screen and (max-width: 480px) {
    .text-wrap h2 {
        font-size: 48px;
    }
    .text-wrap h3 {
        font-size: 20px;
    }
}

/* Styles for new section */
.section {
    height: 1100px; /* 섹션 높이를 1100px로 고정 */
    padding: 50px 40px;
    background-color: #000; /* 배경색을 검정색으로 유지 */
    color: #fff;
    text-align: left;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* 콘텐츠 상단 정렬 */
}

.text {
    width: 50%; /* 텍스트 너비 설정 */
    padding-left: 40px; /* 텍스트 좌측 간격 설정 */
}

.chart-caption {
    font-size: 20px;
    margin-top: 32px;
}

.text p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px; /* 문단 아래 간격 설정 */
}

.chart {
    width: 50%; /* 이미지 너비 설정 */
    max-width: 800px; /* 이미지 최대 너비 설정 */
    margin-top: 0; /* 이미지 위 간격 설정 */
}

.section h2 {
    font-size: 80px;
    margin-bottom: 20px;
    color: #fff;
}

.section p {
    font-size: 22px;
    margin-bottom: 20px;
}

/*효과페이지 스타일링*/
#effect-section {
    background-color: #FFFFFF; /* 섹션 배경을 흰색으로 변경 */
    padding: 40px;
}

#effect-section .section-title {
    margin-left: 40px;
    margin-top: 167px;
    font-size: 80px;
    font-weight: 600;
}

.effect-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 397px;
}

.effect-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 164px;
}

.effect-item img {
    width: 200px; /* 이미지 크기 조절 */
    height: 200px; /* 이미지 크기 조절 */
    margin-left: 524px;
}

.effect-description {
    margin-left: 36px;
}

.effect-description h3 {
    font-size: 28px;
    margin-bottom: 12px;
}

.effect-description p {
    font-size: 22px;
    line-height: 1.6;
    color: #000;
}

/*문제페이지 스타일링*/
#issues {
    padding: 50px;
    background-color: #000;
    color: #fff;
}

#issues .container {
    max-width: 1920px;
    margin: auto;
}

#issues h2 {
    margin-left: 40px;
    margin-top: 167px;
    font-size: 80px;
    font-weight: 600;
}

.issues-content {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
}

.issue-item {
    width: 599px;
    height: 882px;
    position: relative;
    overflow: hidden;
}

.issue-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.issue-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #808180;
    transition: color 0.3s ease;
}

.issue-item:hover .issue-image {
    opacity: 1;
}

.issue-item:hover .issue-text {
    color: #fff;
}

.issue-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
}

.issue-item:hover::before {
    opacity: 0;
}

.issue-text h3 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px; /* 동일한 상단 마진 설정 */
    height: 60px; /* 제목의 높이를 동일하게 설정 */
}

.issue-text p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
    height: 180px; /* 본문 내용의 높이를 동일하게 설정 */
    overflow: hidden;
}

/*대책 페이지 */
.section {
    margin-bottom: 150px; /* 섹션 하단에 100px의 마진 추가 */
}

#solution {
    padding: 50px;
    background-color: #000;
    color: #fff;
}

#solution .container {
    max-width: 1920px;
    margin: auto;
}

#solution h2 {
    margin-left: 40px;
    margin-top: 167px;
    font-size: 80px;
    font-weight: 600;
}

.solution-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.solution-text {
    width: 50%;
    padding-right: 20px;
}

.solution-text h3 {
    font-size: 48px;
    margin-bottom: 20px;
}

.solution-text p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.solution-image {
    width: 50%;
}

.solution-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #CA0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.top-button:hover {
    background-color: #B20000;
}
